$strawberry-red: #ef4444;
$pastel-pink: #FFD2DC;
$medium-pink: #FF859C;
$dark-pink: #FF4D6F;
$fuzzy-peach: #FFD7C5;
$grapefruit: #FF6B54;
$pastel-green: #BAFBE4;
$dark-green: #00D3A9;
$emerald-green: #017D66;
$regal-blue: #396fb3;
$lilac-purple: #D6C9FF;
$awesome-purple: #A689FF;
$awesomer-purple: #7055FD;
$pale-grey: #F9F9F9;
$light-grey: #F2F2F2;
$dashboard-grey: #E5E5E5;
$grey-purple: #4B486D;
$mint-green: #D4FAEF;
$medium-grey: #D9D9D9;
$ehhh-grey: #C5C5C5;
$dark-grey: #333333;
