@import "tailwindcss";

@theme {
	--font-sans: var(--font-omnes);

	--radius-20: 20px;

	--color-strawberry-red: #ef4444;
	--color-pastel-pink: #ffd2dc;
	--color-medium-pink: #ff859c;
	--color-dark-pink: #ff4d6f;
	--color-fuzzy-peach: #ffd7c5;
	--color-grapefruit: #ff6b54;
	--color-pastel-green: #bafbe4;
	--color-dark-green: #00d3a9;
	--color-emerald-green: #017d66;
	--color-regal-blue: #396fb3;
	--color-lilac-purple: #d6c9ff;
	--color-awesome-purple: #a689ff;
	--color-awesomer-purple: #7055fd;
	--color-pale-grey: #f9f9f9;
	--color-light-grey: #f2f2f2;
	--color-dashboard-grey: #e5e5e5;
	--color-grey-purple: #4b486d;
	--color-mint-green: #d4faef;
	--color-medium-grey: #d9d9d9;
	--color-ehhh-grey: #c5c5c5;
	--color-dark-grey: #333333;

	--background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
	--background-image-gradient-conic: conic-gradient(
		from 180deg at 50% 50%,
		var(--tw-gradient-stops)
	);
}

@utility custom-scrollbar {
	&::-webkit-scrollbar {
		width: 2px;
		height: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ff4d6f;
	}
	&::-webkit-scrollbar-track {
		background-color: #d2d2d2;
	}
}

@utility no-details-marker {
	&::-webkit-details-marker {
		display: none;
	}
}
